<ion-view view-title="登录" class="login" calculate-portrait="big-portrait,little-portrait">
  <ion-content class="content-style" has-bouncing="false" scrollbar-y="false" delegate-handle="loginScroll">
    <div class="hand_logo">
      <img src="build/assets/img/login/logo@3x.png">
    </div>
    <div>
      <ion-item class="login-item">
        <!--  <label ng-class="{'focus-user-label':!focusUsername,'blur-user-label':focusUsername}">用户名</label>-->
        <div class="login_user_img">
          <img src="build/assets/img/login/user@3x.png">
        </div>
        <input type="text" autocomplete="off" class="username-input" ng-model="loginInfo.username"
               ng-change="usernameChange()" placeholder="请输入工号"/>
        <ion-item class="user-clear-item" ng-show="showUserClearButton">
          <button class="button button-block clear-button" ng-click="clearUsername()">
            <img src="build/assets/img/login/cancel@3x.png" class="clear-image"/>
          </button>
        </ion-item>
        <div class="gray-line"></div>
        <!-- <label ng-class="{'focus-password-label':!focusPassword,'blur-password-label':focusPassword}">密码</label>-->
        <div class="login_pwd_img">
          <img src="build/assets/img/login/password@3x.png">
        </div>
        <input type="password" autocomplete="off" class="password-input" ng-model="loginInfo.password"
               placeholder="请输入密码"
               ng-change="passwordChange()"/>
        <ion-item class="password-clear-item" ng-show="showPasswordClearButton">
          <button class="button button-block clear-button" ng-click="clearPassword()">
            <img src="build/assets/img/login/cancel@3x.png" class="clear-image"/>
          </button>
        </ion-item>
        <div class="gray-line"></div>
    </div>
    <div>
      <div class="noPassword" ng-click="login()">登录</div>
    </div>
  </ion-content>
</ion-view>
