.application {
  background: #efefef;
  .menu-list {
    .menu-item {
      margin-top: 0.5rem;
      overflow: auto;
      background: white;
      .menu-header-wrapper {
        display: flex;
        height: 2rem;
        line-height: 2rem;
        & > img {
          margin: 0.6rem 0 0 0.75rem;
          width: 0.2rem;
          height: 0.8rem;
        }
        & > div {
          margin-left: 0.5rem;
          font-size: 0.7rem;
          color: #1F8CEB;
        }

        .setting {
          flex: 1;
          display: flex;
          div:first-of-type {
            flex: 1;
          }
          div:nth-of-type(2) {
            font-size: 0.7rem;
            color: #9B9B9B;
          }
          img {
            margin: 0.7rem 0.75rem 0 0.5rem;
            width: 0.3rem;
            height: 0.6rem;
          }
        }
      }
      .menu-content-wrapper {
        .menu-content-Item {
          float: left;
          display: flex;
          width: 25%;
          height: 4.5rem;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          border-right: 0.05rem #EAEAEA solid;
          border-bottom: 0.05rem #EAEAEA solid;
          img {
            width: 2rem;
            height: 2rem;
          }
          div {
            padding: 0 0.3rem;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 0.6rem;
            color: black;
          }
          &:nth-child(4n) {
            border-right: none;
          }
          &:nth-child(-n+4) {
            border-top: 0.05rem #EAEAEA solid;
          }
        }
      }
    }
  }
}
