<ion-view ng-controller="applicationCtrl as applicationVM" class="application">
  <ion-header-bar align-title="center" class="bar-stable">
    <div class="input-wrapper">
      <input type="text" placeholder="搜索"/>
      <img src="build/assets/img/application/search@3x.png"/>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="menu-list">
      <div class="menu-item" ng-repeat="cateory in applicationVM.menuList.menuCateories">
        <div class="menu-header-wrapper">
          <img src="build/assets/img/application/line@3x.png">
          <div>{{cateory.cateoryName}}</div>
          <div class="setting" ng-if="$index == 1">
            <div></div>
            <div>应用设置</div>
            <img src="build/assets/img/Path-b@3x.png">
          </div>
        </div>
        <div class="menu-content-wrapper">
          <div class="menu-content-Item" ng-repeat="item in cateory.menus" ng-click="applicationVM.goPage(item)">
            <img ng-src="{{item.menuIcon}}" ng-if="item.menuIcon"/>
            <div class="app-text">{{item.menuName}}</div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
