<ion-view ng-controller="messageCtrl as messageVM" class="message">
  <ion-header-bar align-title="center" class="bar-stable">
    <div class="input-wrapper">
      <input type="text" placeholder="搜索"/>
      <img class="search-img" src="build/assets/img/message/search@3x.png"/>
      <img class="plus-img" src="build/assets/img/message/plus@3x.png"/>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="null" ng-if="messageVM.messageList.length == 0">暂无数据</div>
    <div class="list">
      <div class="message-item border-1px" ng-repeat="item in messageVM.messageList" ng-click="messageVM.goToList(item, item.unreadCount)">
        <img ng-src="{{item.messageGroupIconUrl}}"/>
        <div class="desc">
          <div>{{item.messageGroupName}}</div>
          <div>{{item.pushListTitle}}</div>
        </div>
        <div class="time-num">
          <div>{{item.creationDate|messageTimeFilter}}</div>
          <!--这是使用opacity，因为使用display属性会使计数元素占位空间消失-->
          <div ng-style="{opacity:(item.unreadCount>0?1:0)}">{{item.unreadCount}}</div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
