<ion-view class="messageList">
  <ion-header-bar align-title="center" class="bar-stable header-title">
    <div class="buttons" ng-click="goBack();">
      <img class="backImg" src="build/img/back@3x.png"/>
    </div>
    <div class="title">{{messageListVM.messageGroupName}}</div>
  </ion-header-bar>
  <ion-content>
    <ion-refresher pulling-icon="ion-ios-loop-strong" pulling-text="下拉刷新..."
                   on-refresh="messageListVM.doRefresh()"></ion-refresher>
    <div class="list">
      <div class="item" ng-repeat="item in messageListVM.messageList">
        <div class="time">{{item.creationDate}}</div>
        <div class="contain" ng-click="messageListVM.goRedirect(item)">
          <div class="title">{{item.pushListTitle}}</div>
          <div class="content">{{item.pushListContent}}</div>
          <div class="look" ng-if="item.redirectUrl">
            <div>查看详情</div>
            <img src="build/img/Path-b@3x.png"/>
          </div>
        </div>
      </div>
    </div>
    <ion-infinite-scroll on-infinite="messageListVM.loadMore()" distance="1%"
                         ng-if="messageListVM.infiniteLoad"></ion-infinite-scroll>
  </ion-content>
</ion-view>
