<ion-view view-title="计划" class="planning">
  <div class="plan-header">
    <div class="plan-ios-header" ng-if="vm.showIOSHeader">

    </div>
    <div class="bar-nav-header">
      <div class="buttons">
        <button class="button button-icon icon ion-ios-arrow-left" ng-click="$ionicGoBack()">
        </button>
      </div>
      <div class="title">
        <span>
          下属拜访
        </span>
      </div>
      <div class="buttons">
        <button class="button button-clear">
          <span class="barRightButton">设置</span>
        </button>
      </div>
    </div>
    <div class="calendar-title">
      2016&nbsp;年&nbsp;{{vm.currentPage}}&nbsp;月
    </div>
    <div class="calendar-week">
      <div class="week-item" ng-repeat="week in vm.weekList" ng-bind="week.item">
      </div>
    </div>

    <div class="slide-calendar-days" id="slideCalendarDays">
      <div class="calendar-day has-calendar-animate" on-swipe-up="vm.calendarDragUp()"
           on-swipe-down="vm.calendarDragDown()" ng-style="vm.calendarDayStyle1">
        <div class="day-line" ng-repeat="week in vm.currentMonth1" ng-style="week.style">
          <div class="each-day" ng-repeat="day in week.list" ng-bind="day"></div>
        </div>
      </div>

      <div class="calendar-day has-calendar-animate" on-swipe-up="vm.calendarDragUp()"
           on-swipe-down="vm.calendarDragDown()" ng-style="vm.calendarDayStyle2">
        <div class="day-line" ng-repeat="week in vm.currentMonth2" ng-style="week.style">
          <div class="each-day" ng-repeat="day in week.list" ng-bind="day"></div>
        </div>
      </div>

      <div class="calendar-day has-calendar-animate" on-swipe-up="vm.calendarDragUp()"
           on-swipe-down="vm.calendarDragDown()" ng-style="vm.calendarDayStyle3">
        <div class="day-line" ng-repeat="week in vm.currentMonth3" ng-style="week.style">
          <div class="each-day" ng-repeat="day in week.list" ng-bind="day"></div>
        </div>
      </div>
    </div>
  </div>

  <ion-scroll class="plan-content"
              direction="y"
              scrollbar-y="true"
              delegate-handle="plan-scroll"
              on-release="vm.onRelease($event)" ng-style="vm.style"
              ng-class="vm.isAnimate?vm.animateTrue:vm.animateFalse">
    <div class="plan-list-title">
      一月前计划：22 &nbsp;&nbsp;已完成：13 &nbsp;&nbsp;<span style="color: red">未完成：9</span>
    </div>
    <div class="plan-list">
      <div class="plan-item" ng-repeat="item in vm.list">
        <div class="row">
          <div class="col col-80 plan-item-border">
            <div style="font-size: 16px;padding-top: 2px; padding-bottom: 2px">
              中信超市
            </div>
            <div style="color: #8f8f8f;padding-top: 2px; padding-bottom: 2px">
              重庆市渝北区，堰岩，玉皇村附近
            </div>
            <div style="color: #8f8f8f;padding-top: 2px; padding-bottom: 2px">
              销售七十一部>胡志广
            </div>
          </div>
          <div class="col col-20 plan-item-border" style="text-align: right">
            待拜访
          </div>
        </div>
      </div>
    </div>
  </ion-scroll>
</ion-view>
