.type-list {
  background: #fafafa;
  .type-wrapper {
    padding-left: 3.05rem;
    background: #fff;
    .type-item {
      height: 3.3rem;
      display: flex;
      align-items: center;
      border-bottom: 0.05rem #EAEAEA solid;
      .type-icon {
        margin: 0 0.5rem 0 -2.3rem;
        vertical-align: top;
        width: 1.8rem;
        height: 1.8rem;
      }
      .type-text {
        flex: 1;
        font-size: 0.8rem;
        color: #000000;
      }
      .path {
        margin-right: 0.75rem;
        vertical-align: top;
        width: 0.3rem;
        height: 0.5rem;
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
}
